<!--
  Shafin Kazi, Alvin Sze, Thamidur Rahman, Sean Takahashi
  Tachyons Guinea Pigs
  SoftDev pd4
  p02
  2026-01-16f
-->

{% extends "header.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<br> <br>

  <div class="mt-20 mb-10">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <div class="space-y-4 mt-4">
        {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="px-4 py-3 rounded bg-red-100 border border-red-400 text-red-700" role="alert">
            {{ message }}
          </div>
          {% elif category == 'success' %}
          <div class="px-4 py-3 rounded bg-green-100 border border-green-400 text-green-700" role="alert">
            {{ message }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
  </div>

  <h1 class="text-5xl text-black text-center tracking-wide">Polygonal Derby</h1>
  <br>
  <p class="text-center text-black">Welcome to the parody of the hit rhythm game <i class="text-mg font-semibold text-black">Geometry Dash</i>! Travel through the world of polygons to reach your destiny!</p>
  <br>

  <h3 class="text-xl text-black text-center text-semibold">Instructions/Controls</h3>
  <p class="text-center text-black">Avoid colliding with the objects in the course. You may not jump onto a spike. You may not crash horizontall into a wall.</p>
  <p class="text-center text-black">Press jump on yellow orbs to jump in the air.</p>
  <p class="text-center text-black">Press jump on blue orbs to be sent straight down.</p>
  <p class="text-center text-black">To jump use either up arrow, space, or click the screen.</p>
  <p class="text-center text-black">Green portals activate cube mode. You can only jump on the ground and while using orbs.</p>
  <p class="text-center text-black">Purple portals activate ship mode. You can hold or tap jump in the air to fly.</p>
  <p class="text-center text-black">Orange portals activate UFO mode. You can jump in the air.</p>






  <br>

  <div class="flex justify-center">
    <a href="/game_scene" class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-4 px-8 rounded transition duration-200 hover:scale-110">Play!</a>
  </div>

  <br><br>

<div class="flex justify-center text-xl text-semibold">LEADERBOARD</div>

<br>

  <div class="flex justify-center bg-neutral-primary-soft shadow-xs rounded-base">
    <table class="w-2/5 text-sm border border-amber-500">
        <thead class="bg-neutral-secondary-soft border-b border-amber-800">
            <tr>
                <th scope="col" class="px-5 py-3 font-medium">
                    User
                </th>
                <th scope="col" class="px-5 py-3 font-medium">
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr class="border-b border-default hover:bg-cyan-200 hover:text-neutral-900 border-amber-500">
            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                {{user[0]}}
            </th>
            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                {{user[5]}}
              </th>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <br><br><br>


{% endblock %}
